<section id="about" class="about mt-5">
   <div class="sobre-nos container">
      <h3>Sobre Nós</h3>
      <p>
         Somos um web site qualificado para gerenciar suas vacinas com cuidado e segurança,
         com a nossa equipe formada por profissionais excelentes.
      </p>

      <div class="cards-wrapper">
         <div class="icon-box-about">
            <div class="icon"><i class="bi bi-award"></i></div>
            <h4 class="title"><a>Missão</a></h4>
            <p class="description">
               Desenvolver e disponibilizar uma plataforma digital robusta,
               segura e eficiente para o registro, organização e monitoramento de esquemas vacinais.
            </p>
         </div>

         <div class="icon-box-about">
            <div class="icon"><i class="bi bi-hand-thumbs-up"></i></div>
            <h4 class="title"><a>Visão</a></h4>
            <p class="description">
               Ser reconhecida como solução de referência em saúde preventiva,
               promovendo o fortalecimento da cultura vacinal por meio de sistemas digitais confiáveis e escaláveis.
            </p>
         </div>

         <div class="icon-box-about">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <h4 class="title"><a>Diferencial</a></h4>
            <p class="description">
               Plataforma segura e inteligente para gestão centralizada de vacinas,
               com suporte a múltiplos perfis, alertas automáticos e conformidade com a LGPD.
            </p>
         </div>
      </div>
   </div>
</section>