<section id="info" class="info mt-5">
   <div class="container">
      <h2 class="section-title text-center mb-5">
         <span class="highlight">Informações</span>
      </h2>
      <div class="row g-4">
         <div class="col-md-4">
            <div class="info-card">
               <i class="bi bi-shield-check icon-info"></i>
               <h4>Segurança</h4>
               <p>Sistema protegido com autenticação garantida.</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="info-card">
               <i class="bi bi-calendar-check icon-info"></i>
               <h4>Agendamento</h4>
               <p>Agende suas vacinação diretamente pelo sistema.</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="info-card">
               <i class="bi bi-file-earmark-text icon-info"></i>
               <h4>Histórico Completo</h4>
               <p>Veja todas as vacinas aplicadas em um só lugar.</p>
            </div>
         </div>
         <div class="col-md-12">
            <div class="info-card">
               <i class="bi bi-person-lock icon-info"></i>
               <h4>Monitoriamento Especializado</h4>
               <p>Monitoriamento 100% seguro e flexivel.</p>
            </div>
         </div>
      </div>
   </div>

</section>