<div class="my-vacine-container p-4">
  <div class="section mb-4">
    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
      <div>
        <h4 class="section-title">
          <i class="bi bi-people-fill me-2"></i> Minhas Vacinas
        </h4>
        <p class="section-subtitle">Vacinas sugeridas conforme sua faixa etária</p>
      </div>
      <button class="btn btn-gold" (click)="openDialog()">
        <i class="bi bi-plus-square icon-add"></i>
        Vacina
      </button>
    </div>

    <div class="card-style p-3">
      <mat-tab-group  (selectedTabChange)="filterByTab($event)">
        <mat-tab label="A Tomar"></mat-tab>
        <mat-tab label="Aguardando Aplicação"></mat-tab>
        <mat-tab label="Tomadas"></mat-tab>
      </mat-tab-group>

      <div class="vaccine-cards mt-4">
        <div *ngFor="let vacine of filteredVaccines" class="vaccine-card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="fw-bold mb-0">{{ vacine.name }}</h5>
            <span
              class="badge"
              [ngClass]="{
                'bg-warning text-dark': vacine.status === 'A Tomar',
                'bg-info text-dark': vacine.status === 'Aguardando Aplicação',
                'bg-success': vacine.status === 'Tomada'
              }"
            >
              {{ vacine.status }}
            </span>
          </div>

          <div class="card-body mt-2">
            <p class="text-muted mb-1">
              <i class="bi bi-person-badge me-2"></i>Faixa etária: {{ vacine.age_range }}
            </p>
            <p class="text-muted mb-1">
              <i class="bi bi-calendar-event me-2"></i>Data da aplicação:
              {{ vacine.application_date || '—' }}
            </p>

            <div class="actions mt-3">
              <button class="btn btn-action" (click)="openDialog(vacine)" title="Editar">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button class="btn btn-action" (click)="openViewDialog(vacine)"  title="Visualizar">
                <i class="bi bi-eye"></i>
              </button>
              <button class="btn btn-action" (click)="forceDeleteUser(vacine)" title="Excluir">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
