<h2 mat-dialog-title>{{ cardTitle }}</h2>

<mat-dialog-content>
    <form [formGroup]="form" class="form-container" (keydown.enter)="handleEnter($any($event))">
        <div class="row">
            <div *ngFor="let label of formLabels" [ngClass]="label.colClass + ''">

                <div *ngIf="label.fieldtype === 'select'; else textField">
                    <mat-label class="ng-label-select">{{ label.label }} *</mat-label>

                    <ng-select appendTo="body" class="ng-select-custom" [items]="label.options"
                        [formControlName]="label.control" [placeholder]="label.placeholder" [clearable]="true">
                    </ng-select>

                    <mat-error
                        *ngIf="form.get(label.control)?.hasError('required') && form.get(label.control)?.touched">
                        Campo obrigatório
                    </mat-error>
                </div>

                <ng-template #textField>
                    <label class="ng-label">{{ label.label }} *</label>
                    <input class="ng-input mb-1" appendTo="body" [type]="label.type || 'text'"
                        [formControlName]="label.control" [placeholder]="label.placeholder"
                        [mask]="label.control === 'phone' ? '(00) 00000-0000' : null" />

                    <mat-error
                        *ngIf="form.get(label.control)?.hasError('required') && form.get(label.control)?.touched">
                        Campo obrigatório
                    </mat-error>
                </ng-template>
            </div>
        </div>

        <mat-dialog-actions align="end">
            <button mat-button (click)="dialogRef.close()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">
                Salvar
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>