<mat-sidenav-container class="sidemenu-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary" class="sidemenu-header">
      <mat-icon>menu</mat-icon>
      <span class="title"> Sistema E-vacina</span>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active-link">
        <mat-icon matListIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidemenu-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
