<div class="vertical-nav-wrapper d-flex flex-column justify-content-between h-100">
  <div class="nav-top">
    <div class="nav-section mt-4">
      <div *ngFor="let menu of menus" class="menu-group">
        <div class="menu-title">{{ menu.title }}</div>

        <div *ngFor="let submenu of menu.contentMenus" class="submenu-item">
          <a *ngIf="submenu.route" [routerLink]="submenu.route" routerLinkActive="active">
            <span class="me-2">
              <i [class]="submenu.icon"></i>
            </span>
            {{ submenu.label }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-footer text-center py-3">
    <mat-divider class="my-2"></mat-divider>
    <button mat-button class="logout-button" (click)="confirmLogout()">
      <mat-icon class="me-1">logout</mat-icon> Sair
    </button>
  </div>
</div>