<section id="login" class="login">
  <div class="container text-center">
    <div class="card-login">
      <h2>Definir nova senha</h2>

      <form [formGroup]="form" (ngSubmit)="submit()" class="login-form mx-auto">
        <div class="form-group text-start">
          <label class="label-senha text-center fw-bold">Senha nova</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Nova senha" />
          <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Confirmar senha" />
        </div>

        <button type="submit" [disabled]="loading" class="btn-primary">Redefinir senha</button>
      </form>

      <p *ngIf="message" style="color: #16a34a">{{ message }}</p>
      <p *ngIf="error" style="color: #dc2626">{{ error }}</p>
    </div>
  </div>
</section>
