<app-header></app-header>

<section id="hero" class="initial-section d-flex align-items-center">
   <div class="div-title-evacina container">
    <h1 class="title-initial"></h1>
   </div>
</section>

<section id="about" class="about mt-5">
  <div class="sobre-nos container">
    <h3>Sobre Nós</h3>
    <p>
      Somos um web site qualificado para gerenciar suas vacinas com cuidado e segurança, 
      com a nossa equipe formada por profissionais excelentes.
    </p>

    <div class="cards-wrapper">
      <div class="icon-box-about">
        <div class="icon"><i class="bi bi-award"></i></div>
        <h4 class="title"><a>Missão</a></h4>
        <p class="description">
          Desenvolver e disponibilizar uma plataforma digital robusta, 
          segura e eficiente para o registro, organização e monitoramento de esquemas vacinais.
        </p>
      </div>

      <div class="icon-box-about">
        <div class="icon"><i class="bi bi-hand-thumbs-up"></i></div>
        <h4 class="title"><a>Visão</a></h4>
        <p class="description">
          Ser reconhecida como solução de referência em saúde preventiva, 
          promovendo o fortalecimento da cultura vacinal por meio de sistemas digitais confiáveis e escaláveis.
        </p>
      </div>

      <div class="icon-box-about">
        <div class="icon"><i class="bi bi-info-circle"></i></div>
        <h4 class="title"><a>Diferencial</a></h4>
        <p class="description">
          Plataforma segura e inteligente para gestão centralizada de vacinas, 
          com suporte a múltiplos perfis, alertas automáticos e conformidade com a LGPD.
        </p>
      </div>
    </div>
  </div>
</section>


<section id="info" class="info mt-5">
  <div class="container">
    <h2 class="section-title text-center mb-5">
      <span class="highlight">Informações</span>
    </h2>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="info-card">
          <i class="bi bi-shield-check icon-info"></i>
          <h4>Segurança</h4>
          <p>Sistema protegido com autenticação garantida.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-card">
          <i class="bi bi-calendar-check icon-info"></i>
          <h4>Agendamento</h4>
          <p>Agende suas vacinação diretamente pelo sistema.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-card">
          <i class="bi bi-file-earmark-text icon-info"></i>
          <h4>Histórico Completo</h4>
          <p>Veja todas as vacinas aplicadas em um só lugar.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="info-card">
          <i class="bi bi-person-lock icon-info"></i>
          <h4>Monitoriamento Especializado</h4>
          <p>Monitoriamento 100% seguro e flexivel.</p>
        </div>
      </div>
    </div>
  </div>

</section>


<section id="contact" class="contact"  >
  <div class="container text-center">
    <h3>Entre em Contato</h3>
    <p>Para mais informações ou suporte, envie sua mensagem.</p>

  <form (ngSubmit)="sendContactMessage()" #contactForm="ngForm">
  <div class="row">
    <div class="col-md-6 form-group">
      <input 
        type="text" 
        name="full_name" 
        class="form-control" 
        required 
        [(ngModel)]="form.full_name"
        placeholder="Digite seu nome completo" />
    </div>

    <div class="col-md-6 form-group mt-3 mt-md-0">
      <input 
        type="email" 
        name="email" 
        class="form-control" 
        required 
        [(ngModel)]="form.email"
        placeholder="Digite seu e-mail" />
    </div>

    <div class="col-md-12 form-group mt-3 mt-md-0">
      <input 
        type="text" 
        name="phone" 
        class="form-control" 
        required 
        [(ngModel)]="form.phone"
        placeholder="Digite seu telefone" 
        mask="(00) 0000-0000||(00) 00000-0000" />
    </div>
  </div>

  <div class="form-group mt-3">
    <textarea 
      class="form-control" 
      name="message" 
      rows="5" 
      required 
      [(ngModel)]="form.message"
      placeholder="Mensagem"></textarea>
  </div>

  <div class="text-center mt-3">
    <button type="submit">Enviar Mensagem</button>
  </div>
</form>
    <br />
  </div>
</section>

<app-footer></app-footer>
