<app-header></app-header>

<section id="hero" class="initial-section d-flex align-items-center">
   <div class="div-title-evacina container">
    <h1 class="title-initial"></h1>
   </div>
</section>

<section id="about" class="about mt-5">
  <div class="sobre-nos container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box position-relative"></div>
      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column justify-content-center px-lg-5">
        <h3>Sobre Nós</h3>
        <p>
          Somos um web site qualificado para gerenciar suas vaçinas com cuidado e segurança com a nossa
          equipe com profissionais exelentes.
        </p>

        <div class="icon-box-about">
           <i class="bi bi-award icon"></i>
          <h4 class="title"><a > Missão</a></h4>
          <p class="description">
            Desenvolver e disponibilizar uma plataforma digital robusta, 
            segura e eficiente para o registro, organização e monitoramento de esquemas vacinais, 
            contribuindo para a gestão individual e familiar da imunização preventiva com base em tecnologias modernas 
            e usabilidade acessível.
          </p>
        </div>

        <div class="icon-box-about">
           <i class="bi bi-hand-thumbs-up icon"></i>
          <h4 class="title"><a >Visão</a></h4>
          <p class="description">
            Ser reconhecida como solução de referência na área de tecnologia em saúde preventiva, 
            promovendo o fortalecimento da cultura vacinal por meio de sistemas digitais confiáveis, 
            escaláveis e integráveis a serviços públicos e privados de saúde.
          </p>
        </div>

        <div class="icon-box-about">
           <i class="bi bi-info-circle icon"></i>
          <h4 class="title"><a >Diferencial </a></h4>
          <p class="description">
         Plataforma segura e inteligente para gestão centralizada de vacinas, 
         com suporte a múltiplos perfis, alertas automáticos e conformidade com a LGPD.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="info" class="info mt-5">
  <div class="container">
    <h2 class="section-title text-center mb-5">
      <span class="highlight">Informações</span>
    </h2>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="info-card">
          <i class="bi bi-shield-check icon-info"></i>
          <h4>Segurança</h4>
          <p>Sistema protegido com autenticação garantida.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-card">
          <i class="bi bi-calendar-check icon-info"></i>
          <h4>Agendamento</h4>
          <p>Agende suas vacinação diretamente pelo sistema.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-card">
          <i class="bi bi-file-earmark-text icon-info"></i>
          <h4>Histórico Completo</h4>
          <p>Veja todas as vacinas aplicadas em um só lugar.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="info-card">
          <i class="bi bi-person-lock icon-info"></i>
          <h4>Monitoriamento Especializado</h4>
          <p>Monitoriamento 100% seguro e flexivel .</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="contact" class="contact">
  <div class="container text-center">
    <h3>Entre em Contato</h3>
    <p>Para mais informações ou suporte, envie sua mensagem.</p>

    <form class="mx-auto">
      <div class="form-group text-start">
        <label for="nome">Nome</label>
        <input type="text" id="nome" class="form-control" placeholder="Seu nome">
      </div>
      <div class="form-group text-start">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="form-control" placeholder="seu@email.com">
      </div>
      <div class="form-group text-start">
        <label for="mensagem">Mensagem</label>
        <textarea id="mensagem" class="form-control" rows="4" placeholder="Escreva sua mensagem"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>
  </div>
</section>

<app-footer></app-footer>
