<section id="login" class="login">
  <div class="container text-center">
    <div class="card-login">
    <h2>Esqueceu sua senha </h2>
    <p>Digite seu email para gerar uma nova senha </p>

    <form class="login-form mx-auto">
      <div class="form-group text-start">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="form-control" placeholder="Seu email">
      </div>
      <button type="submit" class="btn btn-primary mt-3 w-100">Enviar</button>
      <a href="/register" class="d-block mt-3 text-link">Crie sua conta</a>

    </form>
    <p class="mt-3">Ja tem conta <a href="/login" class="text-link">Login</a> já</p>
  </div>
</div>
</section>

