.php-email-form {
  width: 100%;
  color: #193a85;
}

.text-center {
  text-align: center !important;
}

.php-email-form button[type="submit"] {
  background: white;
  border: 0;
  padding: 10px 35px;
  color: white;
  border-radius: 50px;
  transition: 0.3s cubic-bezier(0.65, 0, 0.35, 1);

  &:hover {
    background-color: red;
    color: white;
  }
}

.form-group {
  padding-bottom: 3px;
  color: #193a85;
}

.form-group {
  margin-bottom: 1rem;
  color: #193a85;
}

#contact {
  background-color: #111f36;
  color: white;
  padding: 60px 0;
  text-align: center;

  h3 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: #dcdcdc;
    margin-bottom: 30px;
    padding: 12px;
  }

  form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;

    .form-control {
      border-radius: 8px;
      border: none;
      padding: 10px;
      margin-top: 8px;
    }

    label {
      display: block;
      margin-top: 16px;
      color: #dcdcdc;
      font-weight: 500;
      text-align: left;
    }

    .btn-primary {
      background-color: #08152a;
      border: none;
      border-radius: 8px;
      padding: 10px 20px;
    }
  }

  .error {
    color: red;
    font-size: 100px;
  }

  .error-message {
    text-align: left;
  }
}
